<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Register</h1>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Register">
    </form>
    <p>Ya tienes una cuenta? <a href="/login">Login</a></p>
  </div>
</body>
</html>
